@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "_reset.scss";

:root {
    // Base tokens
    --clr-purple-100: #DACFED;
    --clr-purple-300: #B59EDA;
    --clr-purple-400: #845ec2;
    --clr-purple-500: #5C4288;

    --clr-green-100: #b3efe5;
    --clr-green-300: #4dd9c1;
    --clr-green-400: #00c9a7;
    --clr-green-500: #008d75;

    --clr-orange-100: #ffe0d4;
    --clr-orange-300: #ffb69c;
    --clr-orange-400: #ff9671;
    --clr-orange-500: #b3694f;

    --clr-red-100: #ffd4de;
    --clr-red-300: #ff9ab2;
    --clr-red-400: #ff6f91;
    --clr-red-500: #b34e66;

    --clr-white: #fff;

    // Context variables
    --primary-clr: var(--clr-purple-400);
    --border-card: 1px solid rgba(0, 0, 0, .125);
}

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

/* ------------------
        LAYOUT
------------------ */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem 3rem;
}

.page-title {
    --text-size: red;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-clr);
    font-size: var(--text-size, 40px);
}

.cards-grid {
    --grid-cols: 1;
    --grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: var(--grid-gap);
}

@media screen and (min-width: $breakpoint-md) {
    .cards-grid {
        --grid-cols: 2;
        --grid-gap: 1.25rem;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .cards-grid {
        --grid-cols: 4;
        --grid-gap: 1.5rem;
    }
}

/* ------------------
        CARD
------------------ */

.card {
    --p-base: .75rem;
    --px: calc(2 * var(--p-base));
    --py: calc(1 * var(--p-base));
    color: var(--clr-text, black);
    background-color: var(--clr-bg-body, #fff);
    border: var(--border-card);
    border-radius: .625rem;
    overflow: hidden;

    .card__header {
        padding: var(--py) var(--px);
        background-color: var(--clr-bg-header, rgba(0, 0, 0, .03));
        border-bottom: var(--border-card);
    }

    .card__body {
        flex: 1 1 auto;
        padding: var(--py) var(--px);
    }

    .card__title {
        color: var(--clr-title, var(--primary-clr));
        margin-bottom: var(--py);
        line-height: 1;
    }

    .card__text {
        margin-bottom: var(--py);
    }

    &.card--success {
        --clr-bg-body: var(--clr-green-100);
        --clr-bg-header: var(--clr-green-400);
        --clr-title: var(--clr-green-500)
    }

    &.card--warn {
        --clr-bg-body: var(--clr-orange-100);
        --clr-bg-header: var(--clr-orange-400);
        --clr-title: var(--clr-orange-500)
    }

    &.card--danger {
        --clr-bg-body: var(--clr-red-100);
        --clr-bg-header: var(--clr-red-400);
        --clr-title: var(--clr-red-500)
    }
}


/* ------------------
        BUTTON
------------------ */

.btn {
    color: var(--btn-clr-text, black);
    background-color: var(--btn-clr-bg, #ececec);
    border: 1px solid var(--btn-clr-bg-dark, lightgray);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem var(--py);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
        background-color: var(--btn-clr-bg-dark, lightgray);
    }

    &.btn--success {
        --btn-clr-bg: var(--clr-green-300);
        --btn-clr-bg-dark: var(--clr-green-500);

        &:hover {
            --btn-clr-text: var(--clr-white);
        }
    }

    &.btn--warn {
        --btn-clr-bg: var(--clr-orange-300);
        --btn-clr-bg-dark: var(--clr-orange-500);

        &:hover {
            --btn-clr-text: var(--clr-white);
        }
    }

    &.btn--danger {
        --btn-clr-bg: var(--clr-red-300);
        --btn-clr-bg-dark: var(--clr-red-500);

        &:hover {
            --btn-clr-text: var(--clr-white);
        }
    }
}