@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "_reset.scss";

:root {
    --primary-clr: #845ec2;
    --border-card: 1px solid rgba(0, 0, 0, .125);
}

/* ------------------
        LAYOUT
------------------ */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem 3rem;
}

.page-title {
    --text-size: red;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-clr);
    font-size: var(--text-size, 40px);
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/* ------------------
        CARD
------------------ */

.card {
    --p-base: 1rem;
    --px: calc(2 * var(--p-base));
    --py: calc(1.5 * var(--p-base));
    color: black;
    background-color: #fff;
    border: var(--border-card);
    border-radius: .625rem;
    overflow: hidden;

    .card__header {
        padding: var(--py) var(--px);
        background-color: rgba(0, 0, 0, .03);
        border-bottom: var(--border-card);
    }

    .card__body {
        flex: 1 1 auto;
        padding: var(--py) var(--px);
    }

    .card__title {
        color: var(--primary-clr);
        margin-bottom: var(--py);
        line-height: 1;
    }

    .card__text {
        margin-bottom: var(--py);
    }
}


/* ------------------
        BUTTON
------------------ */

.btn {
    background-color: #ececec;
    border: 1px solid lightgray;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem var(--py);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;

    transition: background-color 300ms ease-in-out;

    &:hover {
        background-color: lightgray;
    }
}